extends template
block content
    div.content
        h1.title Hello #{userName}!
        br
        | You want change your password?
        | just click on the link
        br
        a(href=`http://localhost:3000/auth/activate/password/${passwordToken}`) Change