extends template
block content
    div.content
        h1.title Hello #{userName}!
        br
        | Please verify your auth,
        | just copy and paste code
        br
        Your token: #{token}